body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Settings {
  position: fixed;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  gap: 8px;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 24px 8px;
  border-radius: 4px;
  text-align: left;
  &:empty{
    padding: 0;
  }
}
